<form class="edit-book-form">
  <legend><%= book ? 'Edit' : 'New' %> book</legend>
    <label>Book Title</label>
    <input name="title" type="text" value="<%= book ? book.get('title') : '' %>">
    <label>Author</label>
    <input name="author" type="text" value="<%= book ? book.get('author') : '' %>">
    <label>Status</label>
    <select name="status">
    <option value="Read">Read</option>
    <option value="Not yet Read">Not yet Read</option>
    </select>
    <hr />
   <button type="submit" class="btn"><%= book ? 'Update' : 'Create' %></button>
   <%flag='false'; if(book) {flag='true';status=book.get('status'); %>
    <input type="hidden" name="id" value="<%= book.id %>" />
   <button data-book-id="<%= book.id %>" class="btn btn-danger delete">Delete</button>
   <% }; %>
</form>
<script>
 $(document).ready(function() {
  if(flag=='true'){
    $('select').val(status);
  }
})
</script>